* {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e4dccf;
}

.input {
	height: 80vh;
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	position: absolute;
	top: 10vh;
	left: 10vw;
	border: solid 2px #576f72;
	background-color: white;
}

.nazwa_input {
	height: 5vh;
}

.ilosc_rzedow_input {
	height: 5vh;
}

.hidden {
	display: none;
}

input {
	margin: 20px;
	width: 40vw;
	height: 3vh;
	font-size: 24px;
	text-align: center;
	background-color: white;
}

.zapisz {
	width: 20vw;
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: 0.3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #576f72;
	box-shadow: inset 0 0 0 2px #576f72;
	background-color: transparent;
	height: 48px;
	font-family: 'Ubuntu', sans-serif;
}
.zapisz:hover {
	color: #fff;
	background-color: #576f72;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100vw;
	background-color: #e4dccf;
}

.nazwa_projektu {
	width: 50vw;
	height: auto;
	min-height: 30px;
	text-align: center;
	margin-bottom: 20px;
	background-color: white;
	color: #576f72;
	font-size: 24px;
}

.liczba_rzedow {
	width: 50vw;
	height: auto;
	text-align: center;
	margin-bottom: 20px;
	background-color: white;
	color: #576f72;
	font-size: 24px;
}

.pozostale_rzedy {
	width: 50vw;
	height: auto;
	text-align: center;
	margin-bottom: 20px;
	background-color: white;
	color: #576f72;
	font-size: 24px;
}

.opis {
	margin: 20px;
	color: #576f72;
	font-size: 16px;
	font-weight: bold;
}

.aktualny_rzad {
	left: 50px;
	margin: 50px;
	width: 80vw;
	max-width: 300px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	font-weight: bold;
	color: #576f72;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	background-color: white;
}

.next {
	width: 80vw;
	max-width: 300px;
	margin-left: 50px;
	margin-bottom: 50px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, color, box-shadow, filter;
	transition-duration: 0.3s;
	border: 0;
	letter-spacing: 2px;

	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #576f72;
	font-size: 20px;
	background-color: transparent;
	height: 48px;
	font-family: 'Ubuntu', sans-serif;
	background-color: white;
}
.next:hover {
	color: #fff;
	background-color: #576f72;
}

.nowy_projekt {
	width: 40vw;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30vw;
	display: block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, color, filter;
	transition-duration: 0.3s;
	border: 0;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: white;
	background-color: #576f72;
	height: 48px;
	font-family: 'Ubuntu', sans-serif;
}
.nowy_projekt:hover {
	color: #576f72;
	background-color: white;
}

.hidden {
	display: none;
}
